.container-aim {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: none;
    color: #F76301;
}
.gameArea {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 20px auto;
    border: 5px solid #F76301;
    border-radius: 8px;
    overflow: hidden;
    background-color:#1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #934AB3;
    cursor: pointer;
    transition: transform 0.2s;
}

.circle:hover {
    transform: scale(1.1);
}


.button:hover {
    background-color: #0056b3;
}
.button-aim{
    font-size:150%;
    font-weight:bold;
}
