.aimContainer {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: none;
    color: #F76301;
}

.aimGameArea {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 20px auto;
    border: 5px solid #F76301;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aimCircle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #934AB3;
    cursor: pointer;
    transition: transform 0.2s;
}

.aimCircle:hover {
    transform: scale(1.1);
}

.aimContainer .aimButton {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 30px;
}
