.homeHeading {
    text-align: center;
    padding: 50px;
    color: #934AB3;
    font-size: 48px;
    margin-bottom: 20px;
}

.homeGrid {
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 100px;
    row-gap: 10px;
    padding-bottom: 100vh;
}
