.registerContain {
    display: block;
    text-align: center;
    padding-bottom: 650px;
    background: #000000;
}

.registerForm {
    color: #934AB3;
    justify-content: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.registerForm h1 {
    margin-bottom: 50px;
    font-size: 300%;
}

.registerForm input {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    height: 30px;
    background: #1a1a1a;
    border: 2px solid #F76301;
    color: white;
    font-size: 120%;
    display: block;
}

.registerButton {
    width: 260px;
    margin-top: 20px;
    font-size: 110%;
}

.registerButton:focus {
    outline: none;
}

.registerForm input:focus {
    outline: none;
}
