.seqContainer {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    padding-bottom: 100vh;
    color: white;
}

.seqGrid {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.seqCell {
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: #ccc;
    border: 1px solid #333;
    display: inline-block;
    cursor: pointer;
}

.seqCell.highlighted {
    background-color: #4caf50;
}

.seqCell.clicked {
    background-color: #2196f3;
}

.seqContainer .seqButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    width: 150px
}
