.verbalMemoryContainer {
    color: #C6267B;
    margin-top: 50px;
    width: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.verbalMemoryContainer .verbalAnswerButton {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
}

.verbalMemoryContainer .verbalStartButton {
    width: 200px;
}

.verbalRestartButton {
    background-color: #FF9800;
}

.verbalMemoryContainer h2 {
    font-size: 24px;
    font-weight: bold;
}

.verbalMemoryContainer p {
    font-size: 18px;
}
