@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

html,
body {
    font-family: "Roboto Slab", sans-serif;
}

.main {
    position: relative;
    margin: none;
    height: 100%;
    width: 100%;
    padding: none;
    background: #000000;
    min-height: 100vh;
}

.globalHeader {
    color: #934AB3;
    display: flex;
    padding: 20px;
    background: #1a1a1a;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.globalHeader .logo {
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    padding: none;
    margin: none;
    cursor: pointer;
}

.globalHeader nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    padding: 0px;
}

.globalHeader nav {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.globalHeader li {
    cursor: pointer;
    text-align: center;
    justify-content: center;
    text-wrap: nowrap;
}

.globalHeader nav ul li a,
a:visited a:active {
    text-decoration: none;
    color: #934AB3;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #F76301;
    color: #F76301;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #934AB3;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #934AB3;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 15px "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    width: 500px;
}
